# Assignment – High Frequency Words
Authors: Naomi Buell and Richie Rivera

*Please answer the following questions in an IPython Notebook, posted to GitHub.*
1. *Choose a corpus of interest.*
2. *How many total unique words are in the corpus? (Please feel free to define unique words in any interesting, defensible way).*
3. *Taking the most common words, how many unique words represent half of the total words in the corpus?*
4. *Identify the 200 highest frequency words in this corpus.*
5. *Create a graph that shows the relative frequency of these 200 words.*
6. *Does the observed relative frequency of these words follow Zipf’s law? Explain.*
7. *In what ways do you think the frequency of the words in this corpus differ from “all words in all corpora.”*

We chose the *One Piece Transcripts Dataset (Episodes 382–777)*, which can be found here: https://huggingface.co/datasets/mramazan/One-Piece-Transcripts-with-Character-Names-382-777. This dataset contains all dialogue lines from One Piece episodes 382 to 777.

First, we import libraries and load the dataset from online.

In [13]:
# Import packages
from datasets import load_dataset
import nltk, re, pprint
from nltk import word_tokenize
import numpy as np
import pandas as pd

In [ ]:
# Login using e.g. `huggingface-cli login` to access this dataset
ds = load_dataset("mramazan/One-Piece-Transcripts-with-Character-Names-382-777")

C:\Users\nbuell\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
C:\Users\nbuell\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\nbuell\.cache\huggingface\hub\datasets--mramazan--One-Piece-Transcripts-with-Character-Names-382-777. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Generating train split: 100%|██████████| 100259/100259 [00:00<00:00, 295853.73 examples/s]

We preview the data below. It has 5 columns: `episode`, `start`, `end`, `character`, and `text`. We will be working with the `text` column, which contains the dialogue lines spoken by characters in the episodes.

In [37]:
# Preview the data
# Convert the Hugging Face Dataset to a pandas DataFrame
df = ds['train'].to_pandas()
df.head()

,episode,start,end,character,text
0,384,0:02:31.76,0:02:32.73,Narrator,Wealth.
1,384,0:02:32.73,0:02:33.99,Narrator,Fame.
2,384,0:02:33.99,0:02:34.79,Narrator,Power.
3,384,0:02:36.01,0:02:38.75,Narrator,"The man who once owned everything,"
4,384,0:02:38.75,0:02:39.92,Narrator,"The Pirate King,"